body{
	background-color: #cc0e7b;
}

.flex-container{
	display: flex;
}

.row{
	flex-direction: row;
}

.reverse{
	flex-direction: row-reverse;
}

.column{
	flex-direction: column;
}

.reverse-column{
	flex-direction: column-reverse;
}